// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base"

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint"

// Import the non-default scaffolding module.
@import "blueprint/scaffolding"

// Generate the blueprint framework according to your configuration:
@include blueprint

@include blueprint-scaffolding

@import "compass/css3/box-shadow"
@import "compass/css3/border-radius"
@import "compass/css3/font-face"
@import "compass/css3/text-shadow"
@import "compass/css3/gradient"

@import "compass/css3/transform"


@import "compass/layout/sticky-footer"

@import "fancy-buttons"

@include font-face("Goudy Bookletter", font-files("GoudyBookletter1911.otf", opentype))
@include font-face("Prociono", font-files("ProcionoTT.ttf", truetype, "Prociono.otf", opentype))
@include font-face("Raleway", font-files("raleway_thin.ttf", truetype, "raleway_thin.otf", opentype))
@include font-face("Chunk", font-files("Chunk.ttf", truetype, "Chunk.otf", opentype))
@include font-face("League Gothic", font-files("League Gothic.otf", opentype))
@include font-face("League Script", font-files("LeagueScript.otf", opentype))
@include font-face("Cursif", font-files("Cursif.ttf", truetype))

$light-text: #777

.user-panel
  text-align: right
  +column(22, last)
  +append-bottom(20px)

.alerts
  +column(22, last)

body
  background-color: #1a1a1a

h1, h2, h3, h4, h5, h6
  //font-family: "Goudy Bookletter", sans 
  font-weight: bold


.container
  overflow: visible

.header-wrapper
  +prepend-top(10px)
  +column(24,last)

.header
  +column(24,last)
  font-size: 8px
  text-align: right
  //h1
  //  a
  //    text-decoration: none
  //    color: darken(desaturate($main_background, 25), 40)
  //  a:hover
  //    color: darken(desaturate($main_background, 15), 60)

.wrapper
  background: #fff
  padding-top: 40px
  +box-shadow( #000, 0px, 2px, 3px, 0px)
  +append-bottom(20px)
  padding-bottom: 40px
  // margin-bottom: 80px
  +column(22,last)
  +append(1)
  +prepend(1)

.content-header
  //+column(22, last)
  //margin-top: -10px
  //+linear-gradient(color-stops(white,#f0f0f0), bottom)
  margin-top: -40px
  +pull(1)
  +column(24, last)
  .handwriting
    font-family: "League Script", sans 
    font-size: 36px
    text-align: center
    +text-shadow(#fff, 0, 1px, 0)
    margin-bottom: 17px
  .headline
    font-size: 32px
    text-align: center
    margin-bottom: 40px
  .generator-description
    width: 603px
    float: left
  .sample-button
    margin-right: 50px
    float: right
    width: 277px
    .s1
      height: 82px
    .s2
      height: 38px 
    .s3
      height: 57px
    .sample-desc
      padding: 0 10px
      color: $light-text
      text-align: center


.description
  font-size: 14px
  +column(10, last)
  +append(1)
  text-align: justify
  .quote
    font-style: italic
    padding: 10px
  .doc-icon
    margin-top: 30px
    text-align: center
    +column(10, last)
    h2
      text-align: left
  .doc-description
    text-align: center
    +column(10, last)
  .github-mention
    color: $light-text

.handbooks-panel
  font-size: 14px
  +column(11, last)
  .your-handbook
    +column(10, last)
    +prepend(1)
    .form
      +column(10, last)
      .captcha
        margin-top: 10px
      .field
        +column(10, last)
        label
        input
          +column(10, last)
        .field-desc
          color: $light-text
      .field_with_errors
        +column(10, last)
        label
        input
          border: 1px solid #900
          background: #fee
          +column(10, last)
      .actions
        +column(10, last)
        padding-top: 20px
        .generate
          font-weight: normal
          +fancy-button(#229DE1, 16px , 0px, 1px)
          padding: 7px 0
          border-color: #80c9f0
          width: 400px
      #error_explanation
        margin: 18px 0
        +column(10,last)
        ul
          margin: 0


.email
  font-size: large
  color: #666
  font-weight: bold


@include sticky-footer(95px, "#container", "#container_footer", "#footer")

#footer
  height: 95px
  .footer-wrapper
    height: 95px
    background: url("../../images/top_background.png") bottom repeat-x
    clear: both
    width: 100%
    float: left
  // background: #8ED121
  // background: url("http://assets.applicake.com.s3.amazonaws.com/images/menu.bg3.jpg") bottom repeat-x
  .top-logo
    +column(7)
    margin-top: 18px
    margin-left: 20px
  .menu-items
    +column(16, last)
    ul 
      margin-top: 61px
      margin-left: 20px
      li
        float: left
        display: block
        margin-left: 20px
        padding: 0
        a
          font-family: Helvetica, Arial, sans-serif
          padding: 0
          display: block
          height: 32px
          text-align:center
          font-size: 11pt
          color: #666
          font-weight: bold
          text-decoration: none
        a:hover
          color: #fff

.photo
  padding: 20px
  margin-bottom: 10px
  width: 1000px
  margin-left: -80px
  background: #fff
  +box-shadow( #aaa, 0px, 2px, 10px, 0px)

.instructions
  font-size: 14px
  +column(14, last)
  +append(1)
  text-align: justify
  h2
    text-align: left

.sharing
  +column(6, last)
  +prepend(1)
  text-align: justify

.social
  margin-top: 75px
  .twshare
    float: left
    width: 120px
    height: 50px
  .bzshare
    float: left
    width: 105px
    height: 50px
  .fbshare
    float: left
    width: 120px
    height: 50px
  .atshare
    float: left
    width: 110px
    height: 50px

// useful lines
//+linear-gradient(color-stops(white, #ddd))
//+border-radius(10px, 50px)
// font-family: "Quattrocento"
