administrator:
  email: administrator@custom-domain.com
  password: INSERT_PASSWORD_HERE

recaptcha:
  public_key: 11111111111111111111
  private_key: 22222222222222222222
  
analytics:
  account: AA-1111111-11
