.content-header
  %h2.handwriting Dearest Valued Employee

.description
  %h2 What's it all about?
  Enjoy your stay at Corporate Handbook, a place where you shall understand all the rules of your workspace. From Wikipedia:
  .quote "Handbook is a type of reference work, or other collection of instructions, that is intended to provide ready reference."
  Its corporate variant contains helpful tips on 
  %strong how to live in accordance with your company's policy
  \. All this knowledge is now within the grasp of your hand.
  .doc-icon
    = link_to image_tag('freelance_icon.png'), sample_handbooks_path
  .doc-description
    = link_to 'Show me the sample', sample_handbooks_path

.handbooks-panel
  .your-handbook
    %h2 Send me my corporate handbook
    = render 'form'


