%h2 Viewing sample corporate handbook
%p
  Scroll down the page to see more and brace yourself for your learning material.

.photos
  -@photos.each do |photo|
    .photo
      =image_tag photo.data(:large)

