%h2 Unbranded company handbook preview
%p
  Hint: scroll down.

.photos
  -@photos.each do |photo|
    -if photo.logo_overlay
      .photo=image_tag photo.data(:tcrl)
    -else
      .photo=image_tag photo.data(:large)

