%h2 We'll write you!
%p 
  Your handbook will be carefully assembled and sent to the mailbox of:
  %span.email= @handbook.email
  \. If this is correct then give us up to 10 minutes to deliver the very your corporate manual. If there's a typo in the address, don't hesitate to request a new handbook.
%h2 Check Spam folder
%p
  Our lighthearted piece of corporate advice is a handbook-type of spam. Please check your spam folder, as it might have been put there. 

