%h2 Your corporate handbook is almost ready
%p 
  We'll send your very own personalized handbook to
  %span.email= @handbook.email
  Because strategic planning and choosing the right values (not to mention assembling the pdf) take time, give us ca. 5 minutes before you start refreshing your inbox! 
%p
  Truth be told, your email provider knows well that corporate handbooks are usually a useless piece of spam... so don't forget to check your Spam folder!
%p
  Made a typo in your email address? Worry not! You can always generate your very own, free, open source, personalized lighthearted corporate handbook #{link_to 'again', root_path }!
%h2 Liked it? Share it!
.spread 
  .twshare 
    %a.twitter-share-button{"data-count" => "horizontal", "data-via" => "applicake", :href => "http://twitter.com/share", "data-url" => request.domain } Tweet 
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"} 
  .bzshare
    %a.google-buzz-button{'title'=>'Post to Google Buzz', 'href'=>'http://www.google.com/buzz/post', 'data-button-style'=>'link', 'data-url'=>request.domain}
    %script{ 'type'=>'text/javascript', 'src'=>'http://www.google.com/buzz/api/button.js' }
  .fbshare 
    %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"} 
    %fb:like{:layout => "button_count", :href => request.domain, :show_faces => "false", :width => "120"}
  .atshare
    .addthis_toolbox.addthis_default_style
      %a.addthis_button_compact{:href => "http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4d91aa9e34db11bc"} Share
    %script{:type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4d91aa9e34db11bc"}
  .CLR 

